.contact-section {
    background-image: url('assets/Frame\ 9.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2% 8%;
}

.contact-heading {
    font-family: poppins;
    font-size: 36px;
    margin-bottom: 20px;
    color: #E05A5A;
}

.contact-heading span {
    color: #3DA6C0;
}

.contact-paragraph {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300px;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;    
    color: #3C3536;
}


  


.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
}

.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}



.form textarea {
    resize: vertical;
}

.attachment {
    margin-top: 10px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
