* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 1% 8%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.logo img {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* border: 1px solid red; */
}

nav a {
  text-decoration: none;
  color: #3c3536;
}

nav button {
  padding: 10px 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #f47676;
  display: inline-block;
  cursor: pointer;
  border-radius: 44px;
  color: #ffffff;
  border-bottom: 2px solid #022b69;
  /* color: Orange red; */
}
/*main*/

/*section1*/
.hero {
  background: #ffffff;
  position: relative;
  width: 100%;
}

.eclipse1 {
  padding-left: 4.5%;
}

.hero_1 {
  text-align: center;
  padding-left: 19%;
  padding-right: 30%;
  padding-bottom: 10%;
  padding-top: 0;
}

.desk {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0em;
  color: #e05a5a;
}

.vision {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  color: #022b69;
}

.vector5 {
  position: absolute;
  top: 40%;
  left: 2%;
}

.vector7 {
  position: absolute;
  top: 8%;
  right: 7%;
}

.vector6 {
  position: absolute;
  left: 8%;
  bottom: 2%;
}

.vector8 {
  position: absolute;
  top: 70%;
  right: 5%;
}

.eclipse2 {
  position: absolute;
  top: 30%;
  right: 10%;
}

/*section2*/
.container {
  width: 100%;
}
.mission {
  position: relative;
  width: 100%;
}

.mission2 {
  border: 1px solid #022b6912;
  border-radius: 7px;
  position: absolute;
  top: 95%;
  left: 8%;
  background: #ffffff;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  width: 49%;
  z-index: 2;
}

.mission2 > h3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #022b69;
}

.preview {
  font-family: Poppins;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  width: 100%;
  color: #3c3536;
}

.more {
  color: #f47676;
}

/*Section3*/
.overview {
  background: #ffffff;
  /* width: 100%; */
  /* margin-left: 5%; */
}

.overview > h3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #022b69;
  padding-left: 8.5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.first,
.second {
  display: flex;
  flex-direction: row;
  padding-left: 7.8%;
  gap: 5%;
}

.third {
  /* display: flex; */
  /* flex-direction: row; */
  padding-left: 8.7%;
  padding-bottom: 3.5%;
  padding-top: 1%;
  /* width: 101%; */
}

.classroom,
.messages,
.stories,
.content,
.school {
  display: flex;
  width: 38%;
  border-radius: 10.290156364440918px;
  gap: 10px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1.72px solid #022b6912;
  padding: 1%;
  /* flex-wrap: wrap; */
}

.class {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #022b69;
}

.classroom,
.messages,
.stories,
.content,
.school > p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  color: #3c3536;
  margin: 1%;
}

/*Section4*/

.create {
  text-align: center;
  background-color: #f47676;
  width: 100%;
  margin: 0 auto;
}

.ready {
  padding-top: 6%;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.but {
  padding: 10px 30px 10px 30px;
  border-radius: 44px;
  border: none;
  border-bottom: 2px solid #022b69;
  gap: 10px;
  background: linear-gradient(0deg, #3da6c0, #3da6c0);
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 5%;
  cursor: pointer;
}
/*footer*/

footer {
  background-color: #545382;
  color: white;
  padding-bottom: 1%;
  width: 100%;
}
.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1% 8%;
  color: white;
  flex-basis: 1;
  font-family: "Poppins", sans-serif;
}

.footer-link-wrapper div {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.footer-link-wrapper div > p {
  font-size: 18px;
  margin-bottom: 10%;
  font-weight: 500;
  font-family: Poppins;
  line-height: 27px;
  color: #ffffff;
}

.footer-link-wrapper div > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3%;
  font-weight: 400;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0em;
  opacity: 90%;
}

.footer-link-wrapper div button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 29px;
  color: white;
  text-align: center;
  width: 116px;
  height: 36.02px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#play-store {
  margin-bottom: 5%;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.03em;
}

#app-store {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.03em;
}

.footer-link-wrapper div button p {
  font-size: 10px;
}

.copyright {
  font-weight: 400;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0em;
}

/*Media Responsiveness*/

@media screen and (max-width: 429px) {

  /*section1*/
   

.vector8 {
  position: absolute;
  top: 80%;
  right: 2%;
}

   .hero_1 {
    text-align: center;
    padding-left: 19%;
    padding-right: 30%;
  } 

   .vision {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0em;
    color: #022b69;
  }

  .desk {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    color: #e05a5a;
  } 

  /*section2*/

  .container {
    width: 100%;
    display: flex;
    position: relative;
  }

  .mission {
    width: 100%;
    /* position: relative; */
  }

  .mission2 {
    border: 1px solid #022b6912;
    border-radius: 7px;
    position: absolute;
    top: 2%;
    left: 1%;
    background: #ffffff;
    padding-top: 3%;
    padding-bottom: 2%;
    width: 65%;
    margin-left: 8%;
    margin-top: 2%;
    z-index: 2;
    flex-wrap: wrap;
  }

  .mission2 > h3 {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 150;
    line-height: 20px;
    letter-spacing: 0em;
    color: #022b69;
  }

  .preview {
    font-family: Poppins;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 100;
    line-height: 10px;
    letter-spacing: 0em;
    color: #3c3536;
    height: 50%;
    width: 100%;
  }

  .more {
    color: #f47676;
  }

  /*section3*/

  .class {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 350;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #022b69;
}

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
  }

  .classroom,
  .messages,
  .stories,
  .content,
  .school {
    display: flex;
    width: 90%;
    border-radius: 10.290156364440918px;
    /* gap: 10px; */
    background: linear-gradient(0deg, #ffffff, #ffffff);
    border: 1.72px solid #022b6912;
    padding: 1%;
  }

  /*section4*/

  .ready {
    padding-top: 6%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  .but {
    width: 95%;
    cursor: pointer;
  }
}

/* @media screen and (max-width: 600px) { */

  /*section1*/

  /* .hero_1 {
    text-align: center;
    padding-left: 19%;
    padding-right: 30%;
    padding-bottom: 10%;
    padding-top: 0;
  }

  .vision {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    color: #022b69;
  }

  .desk {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    color: #e05a5a;
  }

  /*section2*/

  /* .container {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  .mission {
    width: 100%;
  }

  .mission2 {
    border: 1px solid #022b6912;
    border-radius: 7px;
    position: absolute;
    top: 7%;
    left: 1%;
    background: #ffffff;
    padding-top: 3%;
    padding-bottom: 2%;
    width: 66%;
    margin-left: 8%;
    margin-top: 2%;
    z-index: 2;
  }

  .mission2 > h3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0em;
    color: #022b69;
  }

  .preview {
    font-family: Poppins;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 150;
    line-height: 13px;
    letter-spacing: 0em;
    color: #3c3536;
    height: 80%;
    width: 100%;
  }

  .more {
    color: #f47676;
  } */

  /*section3*/

  /* .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
  }

  .classroom,
  .messages,
  .stories,
  .content,
  .school {
    display: flex;
    width: 90%;
    border-radius: 10.290156364440918px;
    gap: 10px;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    border: 1.72px solid #022b6912;
    padding: 1%;
  } */

  /*section4*/

  /* .ready {
    padding-top: 6%;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  .but {
    width: 90%;
    cursor: pointer;
  }
}  */
