*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles contact_us_section*/

.contact_us_section {
    background: #ffffff;
    position: relative;
    padding: 0% 8%;
}

.opt{
  background-color: #fff;
}

h4{
  color: #022B69;
  font-weight: 500;
}


.heading {
    background-image: url(assets/Frame\ 9.png);
    padding: 1% 8%;
    padding-top: 2%;
    
}



.heading2 {
   
    text-align: center;
    padding-left: 19%;
    padding-right: 30%;
    padding-bottom: 1%;
}

.heading3 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    color: #e05a5a;
    
}

.heading4 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: 0em;
    color: #3DA6C0;
    
}

.paragraph {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #3C3536;
    padding: 1% 8%;
}


/* styles contact_us_form*/


.contact_us_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-image: url(assets/bg\ form.png);
    
  }
  .form_container {
    flex: 2;
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    font-family: Poppins;
    top: 93px;
    left: 125px;
    padding: 4% 6%;
    border-radius: 10.290156364440918px;

  }
  .form_title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #022B69;
    font-weight: 400;
  }
  .form {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  input[type="text"],
  select {
    width: 100%;
    padding: 2% 2%;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 22px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 22px;
    box-sizing: border-box;
  }
  button {
    padding: 2% 3%;
    border: none;
    border-radius: 22px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #F47676;
    border-bottom: 2px solid #022B69;
    cursor: pointer;
    margin-left: auto;
  }

  .btn-div{
    display: flex;
    justify-content: end;
  }
  .cards_container {
    font-family: Poppins;
    align-items: center;
    width: 100%;
    top: 91px;
    left: 928px;
    gap: 28px;
    margin-right: 20px;
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
  
    padding: 35px 109px 53px 110px;
    border-radius: 10.290156364440918px;
    border: 1.7150260210037231px;
    background-color: #022B6912 7%;

  }

  .card p{
    text-align: center;
    width: 100%;
  }


  /* screen 1024px responsiveness 
@media screen and (max-width:1024px) {

    
}
/* mobile view */
@media screen and (max-width:768px) {
    .card {
      display: flex;
      flex-direction: column;
    text-align: center;

  }
        
}
