*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
}

/* NAVIGATION */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: .5% 4rem .5% 6rem;
    background-color: #ffffff;
    border: 1px solid whitesmoke;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.school-logo img{
    width: 50%;
}
nav{
    width: fit-content;
}
nav ul li{
    display: inline;
    padding-left: 2.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
nav ul li a{
    text-decoration: none;
    color: #3C3536;
}
nav ul li a span{
    color: #3C3536;
    font-weight: 600;
    font-size: 0.875rem;
}
.video-box img{
    width: 100%;
}
.nav ul button{
    margin-left: 1.5rem;
    padding: .7rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: var(--orange-red, #F47676);
    border-radius: 44px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-weight: 500;
    color: #FFF;
    border: transparent;
    border: 1px solid #F47676;
}
.nav ul button a{
    text-decoration: none;
    color: #FFF;
}
.nav ul button:hover{
    background-color: #FFF;
    border: 1px solid #F47676;
}
.nav ul button:hover a{
    color: #F47676;
}
.nav ul li a:hover{
    text-decoration: underline solid #F47676;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
.nav ul li a span:hover{
    text-decoration: underline solid #022B69;
    text-decoration-thickness: 1px;
}
main{
    background-color: #ffffff;
    /* position: relative; */
}

/* FIRST SECTION */
.school-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.eclipse-section{
    position: absolute;
    top: 0;
    left: 5%;
}
.eclipse-section img{
    width: 70%;
}
.star{
    position: absolute;
}
.star img{
    width: 70%;
}
.topleft-star{
    top: 20%;
    left: 2%;
}
.left-star{
    top: 55%;
    left: 8%;
}
.topright-star {
    top: 7%;
    right: 7%;
}
.right-star{
    top: 40%;
    right: 5%;
}
.second-section{
    background-color: #98DFD514;
    padding: 15% 3rem 1% 3rem;
    /* position: absolute;
    top: -70%; */
    margin-top: -19%;
}
.first-text p{
    margin-top: 5%;
    padding-bottom: 2%;
    color: #022B69;
    text-align: center;
    font-family: Poiret One;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem; /* 138.889% */
}
.first-box h2,.second-box h2{
    color: var(--navy-blue, #022B69);
    /* font-family: Poppins; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    width: 80%;
    padding-bottom: 5%;
    font-weight: 400;
    line-height: normal;
}
.school-page-text{
    display: flex;
    justify-content: center;
    gap: 7%;
    padding: 1rem 5rem;
}
.text{
    color: #3C3536;
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2%;
}
.text img{
    width: 6%;
}
.text p{
    /* font-family: Poppins; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    /* padding-bottom: 4%; */
    font-style: normal;
    width: 100%;
    font-weight: 400;
    line-height: 1.5; /* 120% */
    letter-spacing: -0.01563rem;
}
.second-box button{
    margin-top: 2rem;
    border-radius: 2.75rem;
    border: hidden;
    color: #FFFFFF;
    border-bottom: 2px solid #022B69;
    padding: 0.625rem 1.875rem;
    cursor: pointer;
    background: var(--orange-red, #F47676);
}
.third-section{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}
.section-text{
    border-radius: 2.75rem;
    padding: 2% 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: rgba(244, 118, 118, 0.08);
}
.section-text h2{
    color: #022B69;
    font-family: Poppins;
    font-size: 2.47919rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-text p{
    color: rgba(2, 43, 105, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 1.23956rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-text button{
    border-radius: 2.75rem;
    display: flex;
    border: hidden;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 2px solid #022B69;
    background: var(--orange-red, #F47676);
}
.call-to-action{
    background: var(--orange-red, #F47676);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-right: 2.5rem;
}
.cta_text  button{
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: .5rem 2rem;
    margin-top: 5%;
    gap: 6%;
    cursor: pointer;
    border: 1px solid #F8F9FA;
    background: #F8F9FA;
}
.cta_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    row-gap: 5%;
    justify-content: flex-start;
}
.cta_text{
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
}
.cta_text p{
    width: 80%;
}
.cta_phones img{
    position: relative;
    bottom: -1%;
}
.balloons img{
    top: 48%;
    position: relative;
}
footer{
    background: #545382;
    padding: 4% 10% 5% 10%;
    text-transform: capitalize;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 10%; */
    color: #FFF;
    text-align: left;
}
.foot-content h3,.app-content h3{
    font-size: 1.1rem;
    font-style: normal;
    width: 100%;
    padding-bottom: 2rem;
    font-weight: 500;
    line-height: normal;
}
footer p{
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
    opacity: .85;
    width: 100%;
    padding-bottom: 5%;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
}
.click{
    margin-top: 2rem;
}
#checkbox{
        display: none;
    }
    
.click-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3% 5% 0 9%;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 28.82px;
    border: 1px solid #FFF;
    width: 100%;
}
.click-me p{
    width: 100%;
}
.click-me svg{
    padding-bottom: 7%;
}
.foot-text p{
    position: relative;
    left: 70%;
    padding-top: 35%;
}

/* screen 1024px responsiveness */
@media screen and (max-width:1024px) {
    header{
    padding: 1%;
    }
    .eclipse-section img{
        width: 50%;
        position: relative;
        left: -15%;
    }
    .left-star{
        left: 5%;
        top: 63%;
    }
    .topright-star{
        right: 0;
    }
    text img{
        width: 20%;
    }
    .text p{
        font-size: 65%;
    }
    .section-text p{
        font-size: 90%;
    }
    .cta_phones img{
        /* bottom: -1%; */
    }
    .cta_text{
        padding-top: 4%;
        width: 90%;
        /* padding: 4%; */
    }
    .cta_text p{
        width: 100%;
        font-size: 40%;
    }
    .click-me{
        padding: .5rem 1rem;
    }
    .click-me p{
        font-size: 60%;
        width: 100%;
    }

    
}
/* mobile view*/
@media screen and (max-width:768px) {
        .nav{
            position: fixed;
            left: -100%;
            z-index: 10;
            text-transform: uppercase;
            font-size: 1.3rem;
            width: 70%;
            top: 0;
            transition: all .5s ease-in;
        }
        nav ul li a span{
            text-transform: uppercase;
            font-size: 1.2rem;
            color: white;
        }
        .hamburger{
            position: relative;
            z-index: 11;
        }
        .nav ul{
            display: flex;
            /* justify-content: space-between; */
            background-color: #F47676;
            flex-direction: column;
            row-gap: 2rem;
            height: 100vh;
            text-align: center;
            padding: 2rem 0;
            overflow: scroll;
        }
        nav ul li a{
            color: white;
        }
        #checkbox{
            display: none;
        }
        header{
            padding: 1% 3rem 1% 1rem;
        }
        .line{
            height: 4px;
            transition: all .5s ease-in;
            width: 45px;
            border-radius: 8px;
            background-color: #F47676;
            
        }
        .line:not(:last-child){
            margin-bottom: 5px;
        }
        .line:nth-child(2){
            width: 35px;
            margin-left: 10px;
        }
        .line:nth-child(3){
            width: 25px;
            margin-left: 20px;
        }
        #checkbox:checked ~ .nav{
            left: 0;
        }
        #checkbox:checked ~ .hamburger .line:first-child{
            transform: rotate(135deg) translateY(-12px);    
        }
        #checkbox:checked ~ .hamburger .line:nth-child(2){
            width: 0;
            margin-left: 0;
        }
        
        #checkbox:checked ~ .hamburger .line:last-child{
            transform: rotate(-135deg) translateY(10px);
            width: 45px;
            margin-left: 0;
        }
        .school-page-text{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 2rem;
            width: 100%;
        }
        .first-text p{
            font-size: 95%;
        }
        .text-container{
            width: 100%;
        }
        .first-box h2{
            font-size: 1rem;
            width: 60vw;
        }
        .container{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .second-box h2{
            font-size: 1rem;
            width: 65vw;
        }
        .second-section p{
            width: 100%;
        }
        .text{
            width: 100%;
        }
        .eclipse-section img{
            max-width: 40%;
            left: 4%;
        }
        .star img{
            width: 40%;
        }
        .third-section{
            /* padding: 1rem; */
            text-align: center;
            font-size: 50%;
        }
        .third-section h2{
            font-size: 1rem;
        }
        .section-text{
            padding: 1rem 2rem;
            border-radius: 12px;
        }
        .call-to-action{
            justify-content: center;
            align-items: center;
            padding-left: 1rem;
            flex-direction: column-reverse;
        }
        .balloons{
            display: none;
        }
        .cta_text{
            padding-bottom: 1rem;
        }
        .cta_btn{
            margin: 0 auto;
        }
        .cta_phones img{
            width: 90%;
            margin-bottom: -1%;
        }
        .cta_text p{
            padding-bottom: 1rem;
            font-size: 25px;
            line-height: 1.2;
        }
        footer{
            flex-direction: column;
            row-gap: 2rem;
        }
        .foot-content h3{
            padding-bottom: .6rem;
            font-size: 1.3rem;
        }
        .click-me{
            width: fit-content;
            padding: .5rem 1rem;
        }
        .app-content h3{
            padding-bottom: .3rem;
        }
        .foot-text{
            display: none;
        }
}
