*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 1% 8%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.logo img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    /* border: 1px solid red; */
}

nav a{
    text-decoration: none;
    color: #3C3536;
}

nav button{
    padding: 10px 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #F47676;
    display: inline-block;
    cursor: pointer;
    border-radius: 44px;
    color: #ffffff;
    border-bottom: 2px solid #022B69;
    /* color: Orange red; */
}

/*footer*/

footer{
    background-color: #545382;
    color: white;
    padding-bottom: 1%;
}
.footer-link-wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 1% 8%;
    color: white;
    flex-basis: 1;
    font-family: 'Poppins', sans-serif;

}

.footer-link-wrapper div{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.footer-link-wrapper div > p{
    font-size: 18px;
    margin-bottom: 10%;
    font-weight: 500;
}

.footer-link-wrapper div a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3%;
    font-weight: 400;
}

.footer-link-wrapper div button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 29px;
    color: white;
    text-align: center;
    width: 116px;
    height: 36.02px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#play-store{
    margin-bottom: 5%;
}
.footer-link-wrapper div button p{
    font-size: 10px;
}

.copyright{
    font-weight: 400;
    text-align: center;
}

